#mostrar_ocultar_usuarios,#mostrar_ocultar_material {
  position: relative;
  animation: movimiento 1s 5;
  animation-delay: 2s;
}

@keyframes movimiento {
  0% {top:0px;}
  50% {top:8px;}
  100% {top:0px;}
    /*50%  {}
    100% {top:0px;}*/
}